#menu li {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    width: auto;
    display: table;
    box-shadow: 0 3px #858e8e;
    background-color: #dad2d2
}

#menu li:active {
    background-color: #9da19e;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}


#menu {
    background-color: #f0eeee;
    font-size: 3.5vw;
}

#header {
    position: fixed;
    left: 0;
    top: 1vh;

}

#controls {
    transform: translateY(-120%);
    z-index: 999; /* ensures it sits above other content */
}

#controls_button {
    position: fixed;
    top: 20px; /* distance from top */
    right: 20px; /* distance from right edge */
    margin: 0; /* no extra margin needed */
    padding: 8px 12px;
    cursor: pointer;
    font-size: 3vw;
    z-index: 999; /* ensures it sits above other content */

}

#controls input {
    font-size: 3vw;
}

#controls.visible {
    transform: translateY(0);
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.tweet {
}

.image {
    width: 90vw;
    object-fit: contain;
    margin-bottom: 3vh;
}

.vid {
    height: 90vh;
    width: 90vw;
    object-fit: contain;
}

.gif {
    height: 90vh;
    width: 90vw;
    object-fit: contain;
}