<!DOCTYPE html>
<html>
  <head>
  <script src="main.js">
    </script>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
    <style href="/static/css/form.css"></style>
  </head>
<body>
  <form action="/query" method='get'>
    <input name='user' type='text'>
    <input name='from' type='text'>
    <input name='to' type="text">
    <input name='count' type='text'>
    <input type='submit'>
  </form>
  <a href='/signout' style='float:left;margin-left:25px;'>Switch account</a>
</body>
</html>
